.gt-channels-container-child #overlay,
.gt-games-container-child #overlay,
.gt-vod-container-child #action-box
{
    background-color: rgba(0, 0, 0, 0.7);
}

.gt-channels-container-child #overlay,
.gt-games-container-child #overlay
{
    padding: 7px;
}

.gt-channels-container-child #overlay label,
.gt-channels-container-child #overlay image,
.gt-games-container-child #overlay label,
.gt-games-container-child #overlay image
{
    color: rgba(109, 115, 128, 1);
}

.gt-channels-container-child .overlay-box .info-image
{
    color: rgba(109, 115, 128, 1);
    padding: 7px;
}

.gt-channels-container-child #follow-button
{
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    box-shadow: none;
    background-image: none;
    border-style: none;
    padding: 0px;
}

.gt-channels-container-child #follow-button:hover image
{
    transition: 150ms ease-in-out;
    color: gold;
}

.gt-channels-container-child #follow-button image
{
    transition: 150ms ease-in-out;
    color: rgba(109, 115, 128, 1);
}

.gt-channels-container-child #follow-button:checked image
{
    color: gold;
}

.gt-channels-container-child-offline image
{
    -gtk-icon-effect: dim;
}

.gt-channels-container-child-offline name-label,
.gt-channels-container-child-offline game-label

{
    color: alpha(currentColor,0.55);
}

.gt-player #buffer-box
{
    background-color: black;
    border-radius: 4px;
    opacity: 0.8;
    padding: 7px;
}

.gt-chat textview,
.gt-chat textview text
{
    background-color: transparent;
}

.gt-chat entry
{
    background-color: transparent;
    background-image: none;
}

.gt-chat textview.light-theme text
{
    color: rgba(50, 50, 62, 1.0);
}

.gt-chat textview.dark-theme text
{
    color: rgba(255, 255, 255, 1.0);
}

.gt-chat textview:selected,
.gt-chat textview:selected
{
    color: @selected_fg_color;
    background-color: @selected_bg_color;
}

.gt-chat entry.light-theme
{
    color: rgba(0, 0, 0, 1);
    border-color: rgba(204, 204, 204, 1.0);
}

.gt-chat entry.dark-theme
{
    color: rgba(255, 255, 255, 1.0);
    border-color: rgba(81, 81, 85, 1.0);
}

.gt-player #empty-link-button,
.gt-item-container #empty-link-button,
.gt-channels-container-child #error-link-button
{
    padding-left: 0px;
    padding-right: 0px;
}

.gt-item-container #empty-label,
.gt-player #empty-label
{
    font-weight: bold;
    font-size: large;
}

.gt-item-container #empty-sub-label,
.gt-item-container #empty-link-button,
.gt-player #empty-sub-label,
.gt-player #empty-link-button,
.gt-channels-container-child #error-link-button,
.link-sub-label
{
    font-weight: lighter;
    font-size: small;
}

button.link-sub-label > label
{
    text-decoration-line: none;
}

#chat-entry.popup-open image
{
    transition: 300ms ease-in-out;
    color: lighter(currentColor);
}

#chat-entry image
{
    transition: 300ms ease-in-out;
}

@keyframes blinker
{
	0% { border-color: black; }
	50% { border-color: red; }
	100% { border-color: black; }
}

.gt-player.edit-chat .gt-chat
{
    border-style: solid;
	border-width: 4px;
    border-color: red;
	/* animation: blinker 1s linear infinite; */
}

.gt-error-dlg #info-label,
.gt-error-dlg #error-label
{
    font-weight: bold;
}

.gt-channels-container-child #error-box
{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.gt-player #player-controls
{
    background-color: rgba(0, 0, 0, 0.7);
}

.gt-player #player-controls button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.gt-player #player-controls button:hover {
    color: darker(currentColor);
}
