.gt-streams-view-child .overlay-box,
.gt-games-view-child .overlay-box
{
    background-color: rgba(0, 0, 0, 0.7);
}

.gt-streams-view-child .overlay-box .play-image
{
    padding-top: 30px; /* FIXME: Roughly centered fix later*/
}

.gt-streams-view-child .overlay-box .label
{
    color: rgba(109, 115, 128, 1);
}

.gt-streams-view-child .overlay-box .info-image
{
    color: rgba(109, 115, 128, 1);
    padding: 7px;
}
