.gt-channels-container-child .overlay-box,
.gt-games-container-child .overlay-box
{
    background-color: rgba(0, 0, 0, 0.7);
}

.gt-channels-container-child .overlay-box .label
{
    color: rgba(109, 115, 128, 1);
}

.gt-channels-container-child .overlay-box .info-image
{
    color: rgba(109, 115, 128, 1);
    padding: 7px;
}

.gt-channels-container-child .overlay-box .favourite-button
{
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-style: none;
}

.gt-channels-container-child .overlay-box .favourite-button:hover GtkImage
{
    transition: 150ms ease-in-out;
    color: gold;
}

.gt-channels-container-child .overlay-box .favourite-button GtkImage
{
    color: rgba(109, 115, 128, 1);
}

.gt-channels-container-child .overlay-box .favourite-button:checked GtkImage
{
    color: gold;
}

.gt-channels-container-child-offline GtkImage
{
    -gtk-image-effect: dim;
}

.gt-channels-container-child-offline .label
{
    color: alpha(currentColor,0.55);
}

.player-clutter .buffer-box
{
    background-color: black;
    border-radius: 4px;
    opacity: 0.8;
}

.player-clutter .buffer-box GtkProgressBar
{
    color: white;
}

.gt-twitch-chat-view GtkTextView
{
    background-color: transparent;
}

.gt-twitch-chat-view GtkEntry
{
    background-color: transparent;
    background-image: none;
}

.gt-twitch-chat-view GtkTextView.light-theme
{
    color: rgba(50, 50, 62, 1.0);
}

.gt-twitch-chat-view GtkTextView.dark-theme
{
    color: rgba(255, 255, 255, 1.0);
}

.gt-twitch-chat-view GtkTextView:selected,
.gt-twitch-chat-view GtkEntry:selected
{
    color: @selected_fg_color;
    background-color: @selected_bg_color;
}

.gt-twitch-chat-view GtkEntry.light-theme
{
    color: rgba(0, 0, 0, 1);
    border-color: rgba(204, 204, 204, 1.0);
}

.gt-twitch-chat-view GtkEntry.dark-theme
{
    color: rgba(255, 255, 255, 1.0);
    border-color: rgba(81, 81, 85, 1.0);
}
